#map-canvas {
	height: 100vh;
	width : 100vw;
}

.toolbar img {
	max-height: 50px;
	max-width : 50px;
	height    : 2.6rem;
	width     : 2.6rem;
}

#main > section{
	padding-top: 0;
}

.toolbar > .button{
	margin: auto !important;
}

.tabbar{
	background-color: rgba(255,255,255,0);
}

#eventImage {
    max-height: 35%;
}