#map-canvas {
	top   : 0;
	height: 100vh;
	width : 100vw;
	left  : 0;
	right : 0;
}

.toolbar img {
	height: 25%;
	width : 25%;
}

#main > section{
	padding-top: 0;
}

.tabbar{
	background-color: rgba(255,255,255,0);
}