#map-canvas {
	height: 100vh;
	width : 100vw;
}

.toolbar img {
	height: 75%;
	width : 75%;
}

#main > section{
	padding-top: 0;
}

.tabbar{
	background-color: rgba(255,255,255,0);
}

#eventImage {
    max-height: 35%;
}